{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="personal_information_block">
        <div class="personal_information_logo">
            <span>Junior Back-end Developer</span>
        </div>
        <div class="personal_information">
            name
            age
        </div>
        <div class="personal_photo">
            <img src="#" alt="">
        </div>
    </div>
</body>
</html>